.page-header {
  text-align: center;
  color: #dd5308;
  font-weight: bold;
}

h2 {
  color: #dd5308;
}

ul {
  list-style-type: none;
}

li {
  display:inline-block;
}

.content {
  margin-left: 10px;
}

li > div {
  width:300px;
  border: solid 1px;
  border-color: #dd5308;
  margin: 10px;
}

li > div > p {
  margin-left: 5px;
}

li > div > h4 {
  text-align: center;
}